<div class="news-container">
  @if (categories$ | async; as cats) {
    <div class="filter-buttons">
      @for (cat of cats; track cat; let i = $index) {
        <button 
          class="filter-btn" 
          [class.active]="selectedCategory() === cat.toUpperCase()"
          (click)="setCategory(cat.toUpperCase())"
          [style.--btn-index]="i"> {{ cat === 'all' ? ('NEWS.CATEGORIES.ALL' | translate) : ('NEWS.CATEGORIES.' + cat.toUpperCase() | translate) }}
        </button>
      }
    </div>
  }

  @if (news$ | async; as allNews) {
    <div class="news-grid">
      
      @for (item of allNews; track item.id + '-' + $index) {
        <article class="news-card">
          <a class="news-card-link" [href]="getSeoPageUrl(item.id)" [attr.aria-label]="getContent(item, 'title')">
            <div class="card-image" [style.backgroundImage]="'url(' + item.image + ')'" aria-hidden="true"></div>

            <div class="card-content">
              <span class="date">{{ item.date | date:'dd.MM.yyyy' }}</span>
              <h3>{{ getContent(item, 'title') }}</h3>
              <p>{{ getContent(item, 'text') | slice:0:120 }}...</p>
              <span class="read-more">{{ 'NEWS.READ_MORE' | translate }}</span>
            </div>
          </a>

          <button
            type="button"
            class="type-badge"
            [ngClass]="item.category.toLowerCase()"
            [attr.aria-label]="('NEWS.CATEGORIES.' + item.category.toUpperCase() | translate)"
            [attr.title]="'NEWS.CATEGORIES.' + item.category.toUpperCase() | translate"
            (click)="onBadgeClick(item.category, $event)"
          >
            {{ 'NEWS.CATEGORIES.' + item.category.toUpperCase() | translate }}
          </button>
        </article>
      }

    </div>

    @if (pageNumbers.length > 1) {
      <div class="pagination-container">
        <button 
          class="pagination-btn arrow" 
          [disabled]="currentPage() === 1"
          (click)="setPage(currentPage() - 1)">
          &laquo;
        </button>

        @for (page of pageNumbers; track $index) {
          <button 
            class="pagination-btn"
            [class.active]="currentPage() === page"
            (click)="setPage(page)">
            {{ page }}
          </button>
        }

        <button 
          class="pagination-btn arrow" 
          [disabled]="currentPage() === pageNumbers.length"
          (click)="setPage(currentPage() + 1)">
          &raquo;
        </button>
      </div>
    }

  } @else {
    <div class="loader">Завантаження новин...</div>
  }
</div>