<div class="news-container">
  @if (categories$ | async; as cats) {
    <div class="filter-buttons">
      @for (cat of cats; track cat) {
        <button 
          class="filter-btn" 
          [class.active]="selectedCategory() === cat.toUpperCase()"
          (click)="setCategory(cat.toUpperCase())">
          
          {{ cat === 'all' ? ('SHOP.CATEGORIES.ALL' | translate) : ('SHOP.CATEGORIES.' + cat.toUpperCase() | translate) }}
          
        </button>
      }
    </div>
  }

  @if (products$ | async; as allProducts) {
    <div class="news-grid">
      @for (item of allProducts; track item.id) {
        <article class="news-card" (click)="onCardAction(item, $event)">
          <div class="card-image" [style.backgroundImage]="'url(' + item.image + ')'">
            <span class="type-badge" 
                  [ngClass]="item.category.toLowerCase()" 
                  (click)="onBadgeClick(item.category, $event)">
              {{ 'SHOP.CATEGORIES.' + item.category.toUpperCase() | translate }}
            </span>
          </div>
          
          <div class="card-content">
            <div class="price-container">
              <span class="date">{{ item.price | convertPrice }}</span>
            </div>
            <h3>{{ getLangContent(item, 'title') }}</h3>
            <p>{{ getLangContent(item, 'description') | slice:0:120 }}...</p>
            <button class="read-more">
              🛒 {{ 'SHOP.ADD_TO_CART' | translate }}
            </button>
          </div>
        </article>
      }
    </div>

    @if (pageNumbers.length > 1) {
      <div class="pagination-container">
        <button 
          class="pagination-btn arrow" 
          [disabled]="currentPage() === 1"
          (click)="setPage(currentPage() - 1)">
          &laquo;
        </button>

        @for (page of pageNumbers; track page) {
          <button 
            class="pagination-btn"
            [class.active]="currentPage() === page"
            (click)="setPage(page)">
            {{ page }}
          </button>
        }

        <button 
          class="pagination-btn arrow" 
          [disabled]="currentPage() === pageNumbers.length"
          (click)="setPage(currentPage() + 1)">
          &raquo;
        </button>
      </div>
    }

  } @else {
    <div class="loader">Завантаження товарів...</div>
  }
</div>