@if (article) {
  <div class="article-wrapper">
    <div class="container">
      <header class="article-header">
        <div class="image-wrapper">
          <img 
            class="image-hero" 
            [src]="article.image" 
            [alt]="getContent('image_alt') || getContent('title')" 
            fetchpriority="high"
          >
          
          <!-- Перевіряємо та виводимо бейдж категорії -->
          @if (article['category']) {
            <button
              type="button"
              class="type-badge"
              [ngClass]="article['category'].toLowerCase()"
              [attr.aria-label]="('NEWS.CATEGORIES.' + article['category'].toUpperCase() | translate)"
              [attr.title]="'NEWS.CATEGORIES.' + article['category'].toUpperCase() | translate"
              (click)="onCategoryClick(article['category'])"
            >
              {{ 'NEWS.CATEGORIES.' + article['category'].toUpperCase() | translate }}
            </button>
          }
        </div>

        <div class="header-content">
          <div class="meta-info">
            <span class="author">✍️ {{ article['author'] }}</span>
            <span class="dot">•</span>
            <span class="date">📅 {{ article.date | date:'mediumDate' }}</span>
            @if (article['read_time_min']) {
              <span class="dot">•</span>
              <span class="read-time">⏱️️ {{ article['read_time_min'] }} min</span>
            }
          </div>

          <h1>{{ getContent('title') }}</h1>
        </div>
      </header>

      <section class="article-body">
        <p class="lead-text">{{ getContent('text') }}</p>
      </section>

      <!-- Блок тегів -->
      @if (article['tags'] && article['tags'].length > 0) {
        <div class="tags-container">
          <span class="tags-title">Tags:</span>
          <div class="tags-list">
            @for (tag of article['tags']; track tag) {
              <a 
                [routerLink]="['/news']" 
                [queryParams]="{ tag: tag }" 
                class="tag-item clickable"
              >
                #{{ tag }}
              </a>
            }
          </div>
        </div>
      }

      <div class="actions-footer">
        <button routerLink="/news" class="btn-back">
          <span class="icon">←</span>
          <span class="text">{{ 'NEWS.BACK' | translate }}</span>
        </button>
      </div>
    </div>
  </div>
}