<div class="container">
  <header>
    <h1>Virni</h1>
    
    <div class="header-controls">
      <button class="theme-toggle" (click)="toggleTheme()">
        {{ isDarkMode ? '☀️' : '🌙' }}
      </button>
      <div class="lang-dropdown">
          <button class="dropbtn">
            {{ currentLang | uppercase }}
            <span class="arrow">▼</span>
          </button>
          
          <div class="dropdown-content">
            @for (lang of supportedLangs; track lang) {
              @if (lang !== currentLang) {
                <button (click)="changeLang(lang)">
                  {{ lang | uppercase }}
                </button>
              }
            }
          </div>
        </div>
    </div>
  </header>

  <nav class="main-nav">
    <a routerLink="/news" routerLinkActive="active-link">{{ 'MENU.NEWS' | translate }}</a>
    <a routerLink="/shop" routerLinkActive="active-link">{{ 'MENU.SHOP' | translate }}</a>
    <a routerLink="/videos" routerLinkActive="active-link">{{ 'MENU.VIDEOS' | translate }}</a>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>